@model List<GroceryList.Models.GroceryItem>
@{
	 ViewData["Title"] = "Current Grocery List";
	 //<a asp-route-homeId="@ViewData["HomeId"]" asp-controller="Grocery" asp-action="Add">

	 double total = 0.00;
}
<text-center>
	<h1>@ViewData["Title"]</h1>
</text-center>
<partial name="_MessagePartial" />

@if (Model == null)
{
	<h3>There's nothing in your list currently, click <a href="@Url.GetGroceryUrl(ViewContext, "Add")">here</a> to start one.</h3>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Delete</th>
				<th>Name</th>
				<th class="d-none d-lg-table-cell">Brand</th>
				<th class="d-none d-lg-table-cell">Price</th>
				<th>Created</th>
				<th>In Cart</th>
				<th>Edit</th>
				<th>To Cart</th>
			</tr>
		</thead>
		<tbody>
			@* ADD *@
			@foreach (var item in Model)
			{
				total += @item.Price ?? 0;
				<tr>
					<td><a href="@Url.GetGroceryUrl(ViewContext, "Delete", itemId: item.Id)">delete</a></td>
					<td>@item.Name</td>
					<td class="d-none d-lg-table-cell">@item.Brand</td>
					<td class="d-none d-lg-table-cell">@item.Price</td>
					<td>@item.CreatedTime.Format(includeDate: true)</td>
					<td>@(item.InCartTime != null ? "YES" : "")</td>
					@* EDIT *@
					<td><a href="@Url.GetGroceryUrl(ViewContext, "Edit", itemId: item.Id)">edit</a></td>
					<td><a href="@Url.GetGroceryUrl(ViewContext, "ToCart", itemId: item.Id)">add</a></td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td>@total</td>
			</tr>
		</tfoot>
	</table>

	<form-group>
		<input type="button" value="Add Item" class="btn btn-primary"
				 onclick="location.href='@Url.GetGroceryUrl(ViewContext, "Add")';" />
		<input type="button" value="Checkout" class="btn btn-primary"
				 onclick="location.href='@Url.GetGroceryUrl(ViewContext, "Checkout")';" />
	</form-group>
}