@model IEnumerable<grocerylist.net.Models.Grocery.Item>
@{
    ViewData["Title"] = "Current Grocery List";
}
<div class="text-center">
    <h1 class="display-4">Grocery List</h1>
</div>
<table>
    <thead>
        <tr>
            <th styled="display:none;">ID</th><th>Name</th><th>Brand</th>
            <th>Created Date</th><th>Request Date</th><th>Who Requested</th>
        </tr>
        <tr>
            <th styled="display:none;"></th><th></th><th></th>
            <th columns="2"><a href="List/Item/0">Add</a></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="grocery-item">
            <td styled="display:none;">@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Brand</td>
            <td>@item.CreatedTime</td>
            <td>@item.RequestedTime</td>
            <td>@item.CreatedBy</td>
            <td><a href="List/Item/@item.Id">Edit</a></td>
        </tr>
    }
    </tbody>
</table>