@model grocerylist.net.Models.Grocery.Item
@{
    ViewData["Title"] = "New Grocery Item";
}
<div class="text-center">
    <h1 class="display-4">New Grocery Item</h1>
</div>
<form method="POST" action="">
    <input type="hidden" id="item[id]" name="item[id]" value="@Model.Id"/>
    <div class="field">
        <label for="item[name]">Name</label>
        <input type="text" id="item[name]" name="item[name]" value="@Model.Name"/>
    </div>
    <div class="field">
        <label for="item[brand]">Brand</label>
        <input type="text" id="item[brand]" name="item[brand]" value="@Model.Brand"/>
    </div>
    <div class="field">
        <label for="item[requestedAt]">Request Date</label>
        <input type="text" id="item[requestedAt]" name="item[requestedAt]" value="@Model.RequestedTime"/>
    </div>
    <div class="field">
        <label for="item[createdAt]">Created Date</label>
        <input type="text" id="item[createdAt]" name="item[createdAt]" value="@Model.CreatedTime"/>
    </div>
    <div class="field">
        <label for="item[requestedBy]">Who Requested</label>
        <input type="text" id="item[requestedBy]" name="item[requestedBy]" value="@Model.CreatedBy"/>
    </div>
    <div class="field button">
        <input type="submit" id="enterItem" name="enterItem" value="Submit"/>
    </div>
</form>